<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>
</div>

<%= link_to edit_user_path(@user), class: "btn btn-default" do %><span class="glyphicon glyphicon-pencil">Edit</span>
<% end %>

<%= link_to users_path, class: "btn btn-default" do %><span class="glyphicon glyphicon-chevron-left">Back</span>
<% end %>

