
      <div class="col-sm-2 col-md-4 img-responsive">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <h1><%= product.name %></h1> 
        <p><span class="glyphicon glyphicon-cutlery"></span> <%= product.description %></p>
        <p><span class="glyphicon glyphicon-heart-empty"></span> <%= product.colour %></p>

        <p><strong><%= number_to_currency(product.price) %></strong></p>
        <hr>
        <%= link_to product, class: "btn btn-default" do%>
            <span class="glyphicon glyphicon-info-sign">Info</span>
            <% end %>
        <%= link_to edit_product_path(product), class: "btn btn-default" do %>
            <span class= "glyphicon glyphicon-pencil">Edit</span>
            <% end %>
        <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-remove-sign"><strong>Delete</strong></span>

            <% end %>
        <hr>
      </div><!-- /col -->     
