<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@product.image_url, class: "img-responsive") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price: </strong>
  <%= number_to_currency(@product.price) %>
</p>

<%= link_to edit_product_path(@product), class: "btn btn-default" do %> 

<%= @product.highest_rating_comment %>
<%= @product.lowest_rating_comment %>
  <span class="glyphicon glyphicon-pencil">Edit</span>
  <% end %>

<%= link_to products_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left">Back</span>
  <% end %> 

<%= link_to root_path, class: "btn btn-default" do %> 
  <span class="glyphicon glyphicon-home"> Home</span>
  <% end %>

<%= link_to static_pages_contact_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-phone-alt"> Contact Us</span>
  <% end %>


