
<div class="container-fluid">
<p id="notice"><%= notice %></p>

<p>
<br>
<div class="row" data-product-id="<%= @product.id %>">

  <div class="col-xs-12 col-sm-4 col-md-4 img-responsive">
    <% cache @product do %>
    <div class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>
      <div class="caption">
        <h1><%= @product.name %></h1>
        <p><span class="glyphicon glyphicon-cutlery desc"></span> <%= @product.description %></p>
        <p><span class="glyphicon glyphicon-heart-empty colour"></span> <%= @product.colour %></p>
        <p><strong><%= number_to_currency(@product.price) %></strong>
        </p>
    <% end %> <!-- /caching -->
        <div class="stripe-btn">
          <%= form_tag "/payments/create" do %>
            <%= hidden_field_tag(:product_id, @product.id) %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>   
        </div>
       
        <div class="well well-lg">
          <%= link_to products_path, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-chevron-left well-btn"> Back</span>
            <% end %> 

          <%= link_to root_path, class: "btn btn-default" do %> 
            <span class="glyphicon glyphicon-home well-btn"> Home</span>
            <% end %>     
        </div> <!-- /well --> 
                  
      </div> <!-- /caption -->
    </div> <!-- /thumbnail -->
    
  </div> <!-- /column -->
 
  <div class="col-xs-12 col-sm-4 col-md-4 pagination" id="ajaxReviews"> <!-- All comments -->
    <div class="well">
      <strong class="singleProductDesc">
        <span class="glyphicon glyphicon-thumbs-up"></span> Average Rating: <div class="rated" id ="average-rating" data-score="<%= @product.average_rating %>"></div>
      </strong>   
    </div> <!-- /well -->
    <p> <!-- All comments -->
      <div class="styled_pagination">
        <%= will_paginate @comments %>
      </div>  
      <hr>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <div class="page_info">
        <%= render partial: "comments" %>
      </div>
      <!-- <hr> -->
      <div class="styled_pagination">
        <%= will_paginate @comments %>
      </div>    
    </p> <!-- /All comments -->

  <%#= @product.highest_rating_comment.rating %>
  <%#= @product.highest_rating_comment.body.upcase %>


  <%#= @product.lowest_rating_comment.rating %>
  <%#= @product.lowest_rating_comment.body.upcase %>
<!-- </p> -->
  </div> <!-- / all comments column -->
  <div class="col-xs-12 col-sm-4 col-md-4"> <!-- comment form --> 
    <div class="commentsfont">
    <p>
      <%= render partial: "new_comment" %>
    </p>
    <p>
      <%#= f.submit "Submit"%>
    </p>
    </div>
  </div> <!-- /comment form -->
</div> <!-- /row -->
</div> <!-- /container -->
