<p id="notice"><%= notice %></p>

<p>
<br>
<div class="row">
  <div class="col-sm-6 col-md-4 img-responsive">
    <div class="thumbnail">
      <%= image_tag(@product.image_url, class: "img-responsive") %>
      <div class="caption">
        <h1><%= @product.name %></h1>
        <p><span class="glyphicon glyphicon-cutlery"></span> <%= @product.description %></p>
        <p><span class="glyphicon glyphicon-heart-empty"></span> <%= @product.colour %></p>

        <p><strong><%= number_to_currency(@product.price) %></strong></p>
        
        <div class="well well-lg">

          <%= link_to products_path, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-chevron-left"> Back</span>
            <% end %> 

          <%= link_to root_path, class: "btn btn-default" do %> 
            <span class="glyphicon glyphicon-home"> Home</span>
            <% end %>

          <%= link_to edit_product_path(@product), class: "btn btn-default" do %> 
            <span class="glyphicon glyphicon-pencil"> Edit</span>
            <% end %>         
        </div> <!-- /well -->       
      </div> <!-- /caption -->
    </div> <!-- /thumbnail -->
  </div> <!-- /column -->
 
  <div class="col-sm-6 col-md-4 img-responsive"> <!-- All comments -->
    <div class="well">
      <strong class="singleProductDesc">
        <span class="glyphicon glyphicon-thumbs-up"></span> Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </strong>   
    </div> <!-- /well -->
    <p> <!-- All comments -->
      <div class="styled_pagination">
        <%= will_paginate @comments %>
      </div>  
      <hr>
      <div class="page_info">
        <%= render partial: "comments" %>
      </div>

      <div class="styled_pagination">
        <%= will_paginate @comments %>
      </div> 

      
      
      
    </p> <!-- /All comments -->

    <!-- <p>
      <div class="rating"></div>
    </p> -->
   <!--  <p>
      <div class="rated"></div>
    </p> -->
<!-- <p>
  <strong class="singleProductDesc">Rating: </strong>  -->

  <%#= @product.highest_rating_comment.rating %>
  <%#= @product.highest_rating_comment.body.upcase %>


  <%#= @product.lowest_rating_comment.rating %>
  <%#= @product.lowest_rating_comment.body.upcase %>
<!-- </p> -->
  </div> <!-- / all comments column -->
  <div class="col-sm-6 col-md-4 img-responsive"> <!-- comment form --> 
    <div>
    <p>
      <%= render partial: "new_comment" %>
    </p>
    <p>
      <%#= f.submit "Submit" %>
    </p>
    </div>
  </div> <!-- /comment form -->
</div> <!-- /row -->
  