<p id="notice"><%= notice %></p>

<p>
<br>
  <strong class="singleProductDesc"><span class="glyphicon glyphicon-camera"></span> Picture:</strong>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag(@product.image_url, class: "img-responsive") %>
      </a>
    </div>
  </div>
</p>

<p>
  <strong class="singleProductDesc">Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong class="singleProductDesc"><span class="glyphicon glyphicon-cutlery"></span> Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong class="singleProductDesc"><span class="glyphicon glyphicon-heart-empty"></span> Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong class="singleProductDesc"><span class="glyphicon glyphicon-piggy-bank"></span> Price: </strong>
  <%= number_to_currency(@product.price) %>
</p>
<p>
  <strong class="singleProductDesc"><span class="glyphicon glyphicon-thumbs-up"></span> Average Rating: </strong>
  <div class="rated" data-score="<%= @product.average_rating %>"></div>
</p>

<p>
  <%= render partial: "new_comment" %>
</p>
<p>
  <%= render partial: "comments" %>
</p>

<p>
  <div class="rating"></div>
</p>
<p>
  <div class="rated"></div>
</p>

<p>
  <%#= f.submit "Submit" %>
</p>


<!-- <p>
  <strong class="singleProductDesc">Rating: </strong>  -->

  <%#= @product.highest_rating_comment.rating %>
  <%#= @product.highest_rating_comment.body.upcase %>


  <%#= @product.lowest_rating_comment.rating %>
  <%#= @product.lowest_rating_comment.body.upcase %>
<!-- </p> -->

<%= link_to edit_product_path(@product), class: "btn btn-default" do %> 

  <span class="glyphicon glyphicon-pencil">Edit</span>
  <% end %>

<%= link_to products_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left">Back</span>
  <% end %> 

<%= link_to root_path, class: "btn btn-default" do %> 
  <span class="glyphicon glyphicon-home"> Home</span>
  <% end %>

<%= link_to static_pages_contact_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-phone-alt"> Contact Us</span>
  <% end %>


