<p id="notice"><%= notice %></p>

<p>
<br>
  <strong class="singleProductDesc">Image url:</strong>
  <%= image_tag(@product.image_url, class: "img-responsive") %>
</p>

<p>
  <strong class="singleProductDesc">Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong class="singleProductDesc">Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong class="singleProductDesc">Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong class="singleProductDesc">Price: </strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong class="singleProductDesc">Rating: </strong> 
  <br> 
  <br>

  <%= @product.highest_rating_comment.rating %>
  <%= @product.highest_rating_comment.body.upcase %>
  <br>

  <%= @product.lowest_rating_comment.rating %>
  <%= @product.lowest_rating_comment.body.upcase %>
</p>

<%= link_to edit_product_path(@product), class: "btn btn-default" do %> 

  <span class="glyphicon glyphicon-pencil">Edit</span>
  <% end %>

<%= link_to products_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left">Back</span>
  <% end %> 

<%= link_to root_path, class: "btn btn-default" do %> 
  <span class="glyphicon glyphicon-home"> Home</span>
  <% end %>

<%= link_to static_pages_contact_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-phone-alt"> Contact Us</span>
  <% end %>


